<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
  <div class="container">
    <div class="row">
      <!-- BEGIN BOTTOM ABOUT BLOCK -->
      <div class="col-md-9 col-sm-6 pre-footer-col">
        <h2>About us</h2>
        <p>Member CarWash. Serving the San Francisco Bay Area since 2015.</p>
      </div>
      <!-- END BOTTOM ABOUT BLOCK -->

      <!-- BEGIN BOTTOM INFO BLOCK -->
      <div class="col-md-3 col-sm-6 pre-footer-col">
        <h2>Information</h2>
        <ul class="list-unstyled">
          <li><i class="fa fa-angle-right"></i> <%= link_to "How it Works", root_url %></li>
          <li><i class="fa fa-angle-right"></i> <%= link_to "Pricing", root_url %></li>
          <li><i class="fa fa-angle-right"></i> <%= link_to "Locations", root_url %></li>
          <li><i class="fa fa-angle-right"></i> <%= link_to "Become an Affiliate", root_url %></li>
          <li><i class="fa fa-angle-right"></i> <%= link_to "Contact Us", root_url %></li>
        </ul>
      </div>
      <!-- END INFO BLOCK -->
    </div>
  </div>
</div>
<!-- END PRE-FOOTER -->

<!-- BEGIN FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 padding-top-10">
        <%= Time.now.year %> © Member CarWash LLC. ALL Rights Reserved. 
      </div>
    </div>
  </div>
</div>
<!-- END FOOTER -->
