<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<!-- Head BEGIN -->
  <head>
    <meta charset="utf-8">
    <title>Member CarWash</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content="Member CarWash offers unlimited car washes in the San Francisco Bay Area for $39 per month." name="description">
    <meta content="Member Car Wash Unlimited San Francisco Bay Area" name="keywords">
    <meta content="Teo Dell'Amico" name="author">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <!-- Fonts END -->

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'pages', media: 'all' %>
    <%= stylesheet_link_tag 'theme_styles', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <!-- Head END -->

  <!-- Body BEGIN -->
  <body class="<%= yield :body_class %>">
    <%= render 'layouts/top_bar' %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :page_end %>
  </body>
<!-- END BODY -->
</html>
