<!DOCTYPE html>
<html lang="en">
  <head>

  <meta charset="utf-8">
      <title>Member CarWash</title>

      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <meta content="Member CarWash offers unlimited car washes in the San Francisco Bay Area for $39 per month." name="description">
      <meta content="Member Car Wash Unlimited San Francisco Bay Area" name="keywords">
      <meta content="Teo Dell'Amico" name="author">

      <link rel="shortcut icon" href="favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'members', media: 'all' %>

    <link rel="shortcut icon" href="favicon.ico"/>
  </head>
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">
  <div class="page-container">
    <%= render 'sidebar' %>
    <%= yield %>
  </div>
  <div class="clearfix"></div>
  <%= render 'footer' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "#{controller_name}" %>
</body>
</html>
