<!DOCTYPE html>
<html lang="en">
  <head>

  <meta charset="utf-8">
      <title>Member CarWash</title>

      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <meta content="Member CarWash offers unlimited car washes in the San Francisco Bay Area for $39 per month." name="description">
      <meta content="Member Car Wash Unlimited San Francisco Bay Area" name="keywords">
      <meta content="Teo Dell'Amico" name="author">

      <link rel="shortcut icon" href="favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'members', media: 'all' %>

    <link rel="shortcut icon" href="favicon.ico"/>
  </head>

  <body class="page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">
    <div class="page-container">
      <%= render 'members/sidebar' %>
      <%= yield %>
    </div>
    <div class="clearfix"></div>
    <%= render 'members/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "members" %>
  </body>
</html>
